body {
    font-family: 'Poppins', sans-serif;
    background-color: #e7e7e7;
}

h1 {
    font-weight: 600;
}

hr {
    width: 250px;
}

a:hover {
    text-decoration: none;
}

li a {
    font-size: 0.9em;
}

#hero {
    color: white;
    text-align: center;
    background-image: url('https://images.unsplash.com/photo-1506727641051-70b0545112bd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80');
}

#hero hr {
    border: 0.5px solid white;
}

.custom-container {
    max-width: 1920px;
    margin: 0 auto;
}

.footer {
    height: 60px;
    line-height: 60px;
    text-align: center;
}

.navbar {
    background-color: #a20000;
}
