#hero {
    color: white;
    text-align: center;
    background-image: url('../images/ferrari-rim.png');
}

#hero hr {
    width: 250px;
    border: 0.5px solid white;
}

.red-header {
    color: white;
    background-color: #a20000;
}
