::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #F0F0F0;
}

::-webkit-scrollbar-thumb {
    background: #a20000;
}

::-webkit-scrollbar-thumb:hover {
    background: #890000;
}

body {
    font-family: 'Poppins', sans-serif;
    padding-top: 75px;
    background-color: #e7e7e7;
}

h1 {
    font-weight: 600;
}

a:hover {
    text-decoration: none;
}

li a {
    font-size: 0.9em;
}

.custom-container {
    max-width: 1280px;
    margin: 0 auto;
}

.footer {
    height: 60px;
    line-height: 60px;
    text-align: center;
}

.navbar {
    background-color: #a20000;
}
